.nav-login {
	padding-bottom: 0;
	border-bottom: 0;
}

.nav-login label {
	display: block;
	text-align: center;
}

.nav-login-submit {
	vertical-align: bottom;
}

.dateCell {
	height: 100%;
	width: 100%;
	padding: 5px;
}

.dateCell-selected {
	background-color: #ccc;
}

#monthView td {
	padding: 0;
}