html {
  overflow-y: scroll;
}

body {
	       max-width: 100%;
	      overflow-x: hidden;
	background-image: url('/img/grey.png');
	background-color: #fff;
		  /* Javascript now does this */
	      /*min-height: 150vh;*/
      padding-bottom: 40px;
}

body.clouds {
	background: url('/img/sumu.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#advisor-with-availability-content {
	padding: 10px;
}

.expertise-group-listing {
		text-align: center;
	padding-bottom: 10px;
	 margin-bottom: 20px;
}

.expertise-group-listing h3 {
    	display: inline-block;
	font-weight: bold;
	     margin: 2px;
	 margin-top: 10px;
}

.expertise-group-listing a {
	text-decoration: none;
			  color: white !important;
}

.expertise-group-listing-hover {
				 width: 40px;
	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.advisor-listing {
	   margin-top: 20px;
	border-radius: 4px;
}

.advisor-header {
	padding: 15px;
	background-color: white;
}

.advisor-header p {
	padding: 10px;
}

.advisor-header h3 {
	padding: 10px;
}

.advisor-listing h3 {
	     display: inline-block;
	margin-right: 20px;
}

.advisor-listing button {
	margin-bottom: 8px;
}

.advisor-header button {
	cursor: default;
	background-color: rgba(102, 173, 255, 0.7);
	padding: 3px;
	color: white;
}

.advisor-header .advisor-name {
	font-size: 1.65em;
}


.advisor-header {
	  border-left: 1px solid rgb(195, 195, 195);
	   border-top: 1px solid rgb(195, 195, 195);
	 border-right: 1px solid rgb(195, 195, 195);
	border-bottom: 1px solid rgb(195, 195, 195);
	border-radius: 4px 4px 0 0;
}

.advisor-availability-listings {
	background-color: rgba(102, 173, 255, 0.52);
	    padding-left: 20px;
}

.container-fix-avail {
	       width: 100%;
	padding-left: 8px;
}

.align-right {
	   text-align: right;
	padding-right: 5px;
	  font-weight: normal;
	 border-right: 1px solid black;
}

.advisor-availability-listings .item {
	padding-left: 5px;
	 font-weight: normal;
}

.advisor-avail-single div {
	 background-color: white;
    	border-radius: 4px;
    		  padding: 10px;
      text-decoration: none;
    		    color: #333;
    	margin-bottom: 10px;
}

.advisor-avail-single div:hover {
		box-shadow: black 0 0 5px;
-webkit-transition: all 0.2s ease;
   -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.advisor-login {
	      list-style: none;
	          border: 1px solid #eaeaea;
	         display: inline-block;
	        position: absolute;
	            left: 70%;
	         z-index: 100;
	      text-align: center;
	           width: 125px;
	          height: 23px;
	     border-left: 1px solid #ccc;
	   border-bottom: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	background-color: #eee;
	   border-radius: 0 0 4px 4px;
}

.advisor-login a {
			  color: #666 !important;
	text-decoration: none;
}

.advisor-availability-listings table {
	font-weight: normal;
}

.homepage-advisor-list {
	        margin-top: -20px;
	           z-index: 100;
	             width: 100%;
	          position: absolute;
	      padding-left: 10px;
	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.homepage-advisor-list-bg {
	     border-radius: 4px 0 0 4px;
	           padding: 50px;
	  background-color: rgb(155, 0, 05);
	             width: 100%;
	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.advisor-homepage {
	           padding: 0;
	  background-color: #efefef;
	            border: 1px solid #D5D5D5;
         border-radius: 4px;
	             width: 45%;
	            margin: 2%;
	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
  		       display: inline-block;
}

.selected-avail {
			     width: 100% !important;
	-webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.advisor-homepage .title-advisor {
	padding: 5px 5px 1px 5px;
	border-bottom: 1px solid #D5D5D5;
	background-color: #E0E0E0;
}

.advisor-avail-single {
	padding: 5px;
}

.advisor-avail-single:hover {
	/*background-color: white;*/
	/*cursor: pointer;*/
}

form.avail-request-form {
	margin-top: 10px;
}


.expertise-homepage {
	border-radius: 4px;
	margin: 2px;
	background-color: rgba(155, 0, 05, 1);
	min-height: 50px;
	color: #efefef;
}

.expertise-homepage p {
	font-weight: bold;
}

.expertise-homepage:hover {
	cursor: pointer;
	box-shadow: 2px solid black;
}

.heading-text {
	text-align: center;
}

.heading-text h4 {
	color: #fff;
	text-align: left;
	font-size: 20px;
	padding: 0 50px;
}

.heading-text h2 {
	color: white;
	margin-top: 20px;
	font-size: 52px;
}

.heading-text img {
	margin: 0 auto;
	width: 100px;
	display:inline-block;
}

.heading-text a {
	/*color: rgba(102, 173, 255, 1) !important;*/
	color: #fff !important;
	display: inline-block;
}

.exp-group-list {
	background-color: rgba(155, 0, 05, 1);
	padding: 5px;
	border-radius: 0px 8px 8px 0;
}

.exp-group-list li {
	list-style: none;
}

.exp-group-list a {
	color: #efefef;
	font-size: 18px;
	margin: 4px;
}

.nav-login {
	padding-bottom: 0;
	border-bottom: 0;
}

.nav-login label {
	display: block;
	text-align: center;
}

.nav-login-submit {
	vertical-align: bottom;
}

.dateCell {
	height: 100%;
	width: 100%;
	padding: 5px;
	text-decoration: none;
}

.dateCell:hover {
	background-color: rgba(100, 100, 100, .3);
}

a.date {
	color: #666;
}

a.date:hover {
	text-decoration: none;
}

.dateCell-selected {
	background-color: #ccc;
}

#monthView td {
	padding: 0;
	text-align: center;
}

#popup-logout {
	position: absolute;
  	top: 50px;
  	width: 200px;
  	height: 200px;
  	line-height: 200px;
  	text-decoration: none;
  	right: -50%;
  	margin-left: -50px;
  	padding: 10px;
  	border-radius: 6px;
  	background-color: #51A351;
  	color: white;
  	font-weight: bold;
  	z-index: 100;
  	font-size: 24px;
  	vertical-align: center !important;
  	text-align: center !important;
}

#popup-logout-background {
   position: absolute;
	    top: 0;
	   left: 0;
	  width: 100%;
	z-index: 99;
	 height: 100%;
}

.full-height {
	 height: 100%vh;
}

.availability-form {
	     padding: 50px;
      margin-top: -20px;
     	 z-index: 100;
          height: 100vh;
           width: 50%;
        position: absolute;
background-color: rgb(155, 0, 05);
        	left: 100%;
	       color: white;
}

.advisor-column {
         border: 1px solid #ccc;
  border-radius: 4px;
}

.advisor-column .btn {
		display: block;
	font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.advisor-column .you-offer {
	color: #777;
	text-align: center;
	padding-top: 8px;
	font-weight: bold;
	height: 56px;
	background-color: rgba(10,10,10, .2);
   		   min-width: 68px;

}

.advisor-column .service-offered {
	display: inline-block;
}
.advisor-column .service-offered h3 {
	display: inline-block;
	padding: 0 5px;
}

.advisor-column .col-xs-3 {
	padding: 0;
}

.advisor-column .add-avail .btn {
	text-align: center;
	padding-top: 8px;
	font-weight: bold;
	height: 56px;
	background-color: rgba(102, 173, 255, 0.7);
}

.advisor-column .add-avail {
	float: right;
	min-width: 173px;
}

.add-avail a {
	color: #fff;
}

/* drunk */
.btn-info {
	background-color: rgba(102, 173, 255, 0.7) !important;
}

.btn-danger {
	background-color: rgba(217, 83, 79, .7) !important;
}

.btn-success {
	background-color: rgba(92, 184, 92, .7) !important;
}
/* ***** */

.availabilities-header {
	border-bottom: 1px solid #ccc;
}

.availability-dashboard-listing {
	padding: 5px;
}

.availability-dashboard-listing .body {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.availability-listing-header {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}

.body .accepted {
	height: 34px;
}

.body .accepted .btn {
	display: block;
	width: 100%;
	background-color: rgba(92, 184, 92, .7);
	height: 34px;
}

.body .availabile {
	background-color: rgba(10, 10, 10, .08);
	height: 34px;
}

.body .requested {
	height: 34px;
}

.body .requested .btn {
	display: block;
	width: 100%;
	background-color: rgba(240, 173, 78, 0.74) !important;
}

.body .full-width {
	display: block;
	width: 100%;
}

.contains-full-width {
	padding: 0;
}

.avail-user-content {
	padding: 15px;
}

.availabilities-row, .expertise-row {
	margin-top: 40px;
}

h3 {
	word-wrap: break-word;
}

#i2n-tag, #wsl-tag {
	border-bottom: 1px dashed white;
}

#i2n-tag a, #wsl-tag a {
	font-style: none;
	color: #333;
	text-decoration: none;
}

#i2n-tag a:hover, #wsl-tag a:hover {
	text-decoration: none;
}

.sweet-alert {
	display:none;
}

.inline-this-form {
	display: inline-block !important;
}



/* TYPE AHEAD */
.typeahead,
.tt-query,
.tt-hint {
  /*width: 396px;*/
  /*height: 30px;*/
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* END TYPE AHEAD */

.main-expertise-container {
	text-align: center;
	margin-top: 100px;
}

h1 ul {
	display: inline-block;
}

h1 ul li {
	list-style: none;
	display: none;
}

h1 ul li.active-expertise {
	display: inline-block;
	/*border-radius: 8px;*/
}

.tooltippls {
	position: relative;
	border-radius: 4px;
	border: 4px solid #242a2e;
}
.tooltippls:after, .tooltippls:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltippls:after {
	border-color: rgba(150, 150, 150, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: -6px;
}
.tooltippls:before {
	border-color: rgba(36, 42, 46, 0);
	border-bottom-color: #242a2e;
	border-width: 10px;
	margin-left: -10px;
}

.expertise-selectable-filter {
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	font-weight: bold;
}


.tooltipster-base {
	padding: 5px;
}

.upper-margin {
	margin-top: 20px;
}

.advisor-header img {
	width: 150px;
	float: left;
	margin-right: 10px;
	padding: 3px;
	border: 1px solid rgb(205, 200, 200);
	border-radius: 4px;
}

.height-fix {
	height: 100px;
}

@media screen and (max-width: 992px) {
	.height-fix {
		height: 150px;
	}

}

@media screen and (max-width: 767px) {
	.avail-request-form {
		padding: 20px;
	}
}

@media screen and (max-width: 440px) {
	.height-fix {
		height: 175px;
	}
	.advisor-avail-single {
		width: 48%;
	}
	.avail-request-form {
		padding: 20px;
	}
}


.tt-dropdown-menu {
	text-align: left !important;
}

.tooltippls {
	cursor: pointer;
}

.advisor-header i {
	font-size: 24px;
}

.nav-login form {
	padding: 5px;
}

.start-hour, .period, .location, .formLab {
	width: 23%;
	margin:0 1%;
	display: inline-block;
}

.login-form {
	width:100%;
}

#add-avail-btn {
	width: 50%;
	margin-right: 50%;
}

.time-select {
	margin: 5px 0;
}

footer {
	margin-top: 40px;
}

@media (max-width: 600px) { 
	.advisor-column .add-avail {
		width:100%;	
	}

	.expertise-row .advisor-column { 
		width: 100%;
	}
	.expertise-row .advisor-column .col-xs-6 { 
		display: block;
		width: 100%;
		text-align: center;
	}
	.expertise-row .advisor-column p { 
		text-align: center;
	}
	#add-avail-btn {
		width: 100%;
		margin: 0;
	}
	.start-hour, .period, .location {
		width: 31%;
		margin:0 1%;
		display: inline-block;
	}

	.formLab {
		width: 100%;
	}
}
